<ul class="nav nav-pills flex-column ">
  <h6 class="user-name"><i class="typcn typcn-user-outline" aria-hidden="true"></i> {{ _loggedUser.UserName }}</h6>
  <li class="nav-item dropdown user-email"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ _loggedUser.Email }}</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"><i class="typcn typcn-eject-outline" aria-hidden="true"></i> Change Password</a>
      <a [routerLink]="['/login']" class="dropdown-item"><i class="typcn typcn-power-outline" aria-hidden="true"></i> Logout</a>
    </div>
  </li>
  <li class="nav-item"><a [routerLink]="['home']" class="nav-link" routerLinkActive="active"><i class="typcn typcn-home-outline" aria-hidden="true"></i> Home</a></li>
  <li class="nav-item"><a [routerLink]="['participants']" class="nav-link" routerLinkActive="active"><span class="typcn typcn-group"></span> Participants</a></li>
  <li class="nav-item">
    <a data-toggle="collapse" href="#paramLinks" class="nav-link">
      <i class="typcn typcn-chart-bar-outline" aria-hidden="true"></i> Parameters
      </a>
    <ul class="nav-pills flex-column sub-items collapse" id="paramLinks">
      <li class="nav-item sub-item">
        <a [routerLink]="['params', 'matrices']" class="nav-link" routerLinkActive="active"><i class="fa fa-table" aria-hidden="true"></i> Matrices</a>
      </li>
      <li class="nav-item sub-item">
        <a [routerLink]="['params', 'tables']" class="nav-link" routerLinkActive="active"><i class="fa fa-table" aria-hidden="true"></i> Tables</a>
      </li>
    </ul>
  </li>
  <li class="nav-item"><a [routerLink]="['settings']" class="nav-link" routerLinkActive="active"><i class="typcn typcn-spanner-outline" aria-hidden="true"></i> Settings</a></li>
</ul>
