<div class="row d-flex justify-content-center animated fadeIn" *ngIf="!_participants">
  <img src="assets/img/spinner.gif" class="spinner">
</div>
<div *ngIf="_participants" class="card animated fadeIn">
  <ngb-tabset type="pills">
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fas fa-users"></i> Individuos</ng-template>
      <ng-template ngbTabContent>
        <individuals-list [individuals]="_individuals"></individuals-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="far fa-building"></i> Entidades</ng-template>
      <ng-template ngbTabContent>
        <entities-list [entities]="_entities"></entities-list>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
