<div class="card" [ngClass]="{'to-do border-primary': task.StatusID == 1, 'doing border-success': task.StatusID == 2, 'done': task.StatusID == 3}">
  <div class="card-header">
    <span>
      {{ task.Title }}
      <div class="pull-right ">
        <ng-container [ngSwitch]="task.StatusID">
          <span *ngSwitchCase=1 placement="top" ngbTooltip="Iniciar" (click)="progressTask()">
            <i class="task-icon far fa-check-square text-muted"></i>
          </span>
          <span *ngSwitchCase=2 placement="top" ngbTooltip="Completar" (click)="progressTask()">
            <i class="task-icon far fa-check-square text-muted"></i>
          </span>
        </ng-container>
      </div>
    </span>
  </div>
  <div class="card-body" (click)="click()">
    <p class="task-description">{{ task.Description}}</p>
    <p>
      <i class="far fa-calendar-alt"></i> {{ task.ExpirationDate | date: 'dd/MM'}}</p>
  </div>
</div>
