<div class="card" [ngClass]="{'to-do border-primary': task.StatusID == 1, 'doing border-success': task.StatusID == 2, 'done': task.StatusID == 3}">
  <div class="card-header">
    <span>
      {{ task.Title }}
    <div class="pull-right ">
      <ng-container [ngSwitch]="task.StatusID">
        <i *ngSwitchCase=1 class="task-icon fa fa-check-square-o text-muted" placement="top" ngbTooltip="Begin" (click)="progressTask()"></i>
        <i *ngSwitchCase=2 class="task-icon fa fa-check-square-o text-muted" placement="top" ngbTooltip="Complete" (click)="progressTask()"></i>
      </ng-container>
    </div>
  </span>
  </div>
  <div class="card-body" (click)="click()">
    <p class="task-description">{{ task.Description}}</p>
    <p><i class="typcn typcn-calendar-outline"></i> {{ task.ExpirationDate | date: 'dd/MM'}}</p>
  </div>
</div>
