<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="typcn typcn-th-large"></i> Dashboard</ng-template>
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-3" *ngFor="let risk of byRisk">
          <app-quick-card [icon]="risk.Icon" [value]="risk.Count" [type]="risk.ColorType" [name]="risk.name">
          </app-quick-card>
        </div>
        <div class="col-md-5">
          <app-loading-modal *ngIf="!byRisk"></app-loading-modal>
          <app-chart-card *ngIf="byRisk" [items]="byRisk" [data]="'Count'" [label]="'Rate'" [options]="riskChartOptions" [type]="'doughnut'"
            [colors]="riskColors">
          </app-chart-card>
          <app-chart-card *ngIf="byCountry" [items]="byCountry" [data]="'Value'" [label]="'Country'" [options]="countryChartOptions" [type]="'doughnut'"></app-chart-card>
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fa fa-globe" aria-hidden="true"></i> Distribución Global</h4>
              <!-- <agm-map [zoom]="2">
                <ng-container *ngFor="let address of _addresses">
                  <agm-marker *ngIf="address.geometry" [openInfoWindow]=true [title]="address.formatted_address" [latitude]="address.geometry.location.lat"
                    [longitude]="address.geometry.location.lng"></agm-marker>
                </ng-container>
              </agm-map> -->
              <app-map *ngIf="_countries" [regions]="_countries"></app-map>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="typcn typcn-input-checked"></i> Tareas</ng-template>
    <ng-template ngbTabContent>
      <home-tasks></home-tasks>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="typcn typcn-calendar"></i> Calendario</ng-template>
    <ng-template ngbTabContent>
      <home-schedule></home-schedule>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <i class="typcn typcn-stopwatch"></i> Cronograma
    </ng-template>
    <ng-template ngbTabContent>
      <app-schedules></app-schedules>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
