<h3>Home</h3>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Next Expired Documents <i class="fa fa-warning text-warning fa-pull-right" aria-hidden="true"></i> </h4>
        <table class="table table-sm">
          <thead class="thead-default">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Document</th>
              <th>Expiration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2145</td>
              <td>Aziz Ansari</td>
              <td>Passport</td>
              <td>2017-05-31</td>
            </tr>
            <tr>
              <td>4861</td>
              <td>Clark Kent</td>
              <td>Drive License</td>
              <td>2017-08-11</td>
            </tr>
            <tr>
              <td>571</td>
              <td>Bruce Wayne</td>
              <td>Operation Advice</td>
              <td>2017-06-22</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Last Listed Individuals <i class="fa fa-times-circle text-danger fa-pull-right" aria-hidden="true"></i></h4>
        <table class="table table-sm">
          <thead class="thead-default">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>List</th>
              <th>Expiration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2145</td>
              <td>Aziz Ansari</td>
              <td>UN</td>
              <td>2017-05-31</td>
            </tr>
            <tr>
              <td>4861</td>
              <td>Clark Kent</td>
              <td>OFAC</td>
              <td>2017-08-11</td>
            </tr>
            <tr>
              <td>571</td>
              <td>Bruce Wayne</td>
              <td>UN</td>
              <td>2017-06-22</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-loading-modal *ngIf="!chartReady"></app-loading-modal>
    <app-card [footer]=false *ngIf=chartReady>
      <div card-section="body">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="chartColors">
        </canvas>
      </div>
    </app-card>
  </div>
</div>
