<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="inner-addon left-addon">
          <i class="fa fa-search text-muted" aria-hidden="true"></i>
          <input type="search" class="form-control" [(ngModel)]="_searchText" (ngModelChange)="filterIndividuals()" placeholder="Buscar Individuos">
        </div>
      </div>
    </div>
  </div>
  <table class="table table-sm table-striped table-squared">
    <thead>
      <tr>
        <th (click)="sort('ID')" class="text-center">ID
          <app-sort-icon *ngIf="_sortTerm.column =='ID'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('FirstName')">Nombre
          <app-sort-icon *ngIf="_sortTerm.column =='FirstName'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('ThirdName')">Apellido
          <app-sort-icon *ngIf="_sortTerm.column =='ThirdName'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('BirthDate')">Fecha de Nac.
          <app-sort-icon *ngIf="_sortTerm.column =='BirthDate'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('Email')">Email
          <app-sort-icon *ngIf="_sortTerm.column =='Email'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('Score')">Puntación
          <app-sort-icon *ngIf="_sortTerm.column =='Score'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th (click)="sort('Score')">Calificación
          <app-sort-icon *ngIf="_sortTerm.column =='Score'" [desc]="_sortTerm.desc"></app-sort-icon>
        </th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let individual of _filterIndividuals">
        <td class="text-center">{{ individual.ID }}</td>
        <td>{{ individual.FirstName }}</td>
        <td>{{ individual.ThirdName }}</td>
        <td>{{ individual.BirthDate | date:'mediumDate' }}</td>
        <td>{{ individual.Email }}</td>
        <td class="font-weight-bold" [ngClass]="{'text-success': individual.Score < 3, 'text-warning': individual.Score > 2.99 && individual.Score < 5.99, 'text-danger': individual.Score > 5.99 }">{{ individual.Score | number: '1.3-3' }}</td>
        <td class="font-weight-bold" [ngClass]="{'text-muted': !individual.Score, 'text-success': individual.Score < 3, 'text-warning': individual.Score > 2.99 && individual.Score < 5.99, 'text-danger': individual.Score > 5.99 }">{{ individual.Rate }}</td>
        <td class="text-center">
          <a [routerLink]="[individual.ID]" placement="top" ngbTooltip="Detalles">
            <i class="fa fa-search-plus fa-lg text-primary" aria-hidden="true"></i>
          </a>
      </tr>
    </tbody>
  </table>

</div>
