<div class="container-fluid">
  <div class="card-columns">
    <!-- <div *ngFor="let task of _tasks" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ task.Title }}</h5>
        <p>
          <a class="card-link" [routerLink]="['/dashboard', 'participantes', task.ParticipantID]">{{ task.Participant.ShortName}}</a>
        </p>
        <small class="card-text">
          {{ task.CreatedDate | date: 'mediumDate' }}
        </small>
      </div>
    </div> -->
    <!-- <div *ngFor="let participant of _participants" class="card">
      <div class="card-body">
        <a class="card-title" [routerLink]="['/dashboard', 'participantes', participant.ID]" >{{ participant.FullName }}</a>
        <h6 class="card-subtitle text-muted">Pendientes</h6>
        <p *ngFor="let task of participant.Tasks" class="card-text">
          {{ task.Title }}
        </p>
      </div>
    </div>
  </div> -->
    <ngb-accordion *ngFor="let participant of _participants" #acc="ngbAccordion">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          {{ participant.FullName }}
        </ng-template>
        <ng-template ngbPanelContent>
          <h6 class="card-title text-muted">Pendientes</h6>
          <p *ngFor="let task of participant.Tasks" class="card-text">
            {{ task.Title }}
          </p>
          <a [routerLink]="['/dashboard', 'participantes', participant.ID]" class="btn btn-primary">
            <i class="fas fa-user"></i> Ir al Perfil
          </a>
          <br>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
