<nav class="paginator">
  <ul *ngIf="_pager.pages && _pager.pages.length" class="pagination">
    <li class="page-item" ngbTooltip="Inicio" [ngClass]="{disabled:_pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(1)">
        <i class="fa fa-fast-backward" aria-hidden="true" ></i>
      </a>
    </li>
    <li class="page-item" ngbTooltip="Anterior" [ngClass]="{disabled:_pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(_pager.currentPage - 1)">
        <i class="fa fa-step-backward" aria-hidden="true"></i>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of _pager.pages" [ngClass]="{active:_pager.currentPage === page}">
      <a class="page-link" (click)="setPage(page)">
        {{ page }}
      </a>
    </li>
    <li class="page-item" ngbTooltip="Siguiente" [ngClass]="{disabled:_pager.currentPage === _pager.totalPages - 1}">
      <a class="page-link" (click)="setPage(_pager.currentPage + 1)">
        <i class="fa fa-step-forward" aria-hidden="true"></i>
      </a>
    </li>
    <li class="page-item" ngbTooltip="Final" [ngClass]="{disabled:_pager.currentPage === _pager.totalPages - 1}">
      <a class="page-link" (click)="setPage(_pager.totalPages - 1)">
        <i class="fa fa-fast-forward" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
<span>Mostrando
  <select class="form-control custom-select" name="page-size" [(ngModel)]="_pageSize" (ngModelChange)="setPage(_pager.currentPage)">
    <option *ngFor="let val of _sizes" [value]=val>{{val}}</option>
  </select>
  elementos de {{ itemsCount }}</span>
