<div class="card">
  <div class="card-header">
    <p class="card-title"><i class="fas fa-briefcase fa-fw"></i> Productos</p>
  </div>
  <div class="card-body">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th># Producto</th>
          <th>Nombre</th>
          <th>Tipo Producto</th>
          <th>Banco</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!profile.Accounts.length">
          <td [colSpan]="5" class="text-center">
            Sin cuentas disponibles
          </td>
        </tr>
        <tr *ngFor="let account of profile.Accounts">
          <td>{{ account.Code }}</td>
          <td>{{ account.Name }}</td>
          <td>{{ account.AccountType.Name }}</td>
          <td>{{ account.Bank.Name }}</td>
          <td>$ {{ account.Amount | number: '3.2' }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="open()" class="btn btn-primary pull-right">
      <span class="fa-layers fa-fw">
        <i class="fas fa-suitcase"></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">$</span>
      </span> Agregar
    </button>
  </div>
</div>
