<app-loading-modal *ngIf="!_matrix">
</app-loading-modal>
<h3 *ngIf="_matrix">{{ _matrix.name }} / {{ _matrix.code }}</h3>
<ngb-tabset type="pills" *ngIf="_matrix">
  <ngb-tab title="Categorías">
    <ng-template ngbTabContent>
      <param-categories [matrixID]="_matrix.id"></param-categories>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Parámetros">
    <ng-template ngbTabContent>
      <param-category *ngFor="let category of _categories" [category]="category" [tables]="_tables"></param-category>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
