<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <p class="card-title">
            <i class="fas fa-chart-line"></i> Resumen Mensual
          </p>
        </div>
        <div class="card-body">
          <ng-container *ngIf="_chart">
            <canvas id="canvas">{{ _chart }}</canvas>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-chart-card *ngIf="_sourceChart" [title]="'Transacciones por Fuente'" [items]="_sourceData" [data]="'amount'" [label]="'source'" [type]="'pie'" [options]="_sourceChart"></app-chart-card>
    </div>
    <div class="col-md-4">
      <app-chart-card *ngIf="_accountChart" [title]="'Transacciones por Cuenta'" [items]="_accountData" [data]="'amount'" [label]="'account'" [type]="'pie'" [options]="_accountChart"></app-chart-card>
    </div>
  </div>
</div>
