<div class="card  animated fadeIn">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="participant-type">Tipo de Participante</label>
          <select class="form-control custom-select" name="participant-type" id="participant-type" [(ngModel)]="_type">
            <option disabled [value]="_default">--- Seleccionar ----</option>
            <option *ngFor="let type of _types" [ngValue]="type">{{ type.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_type" [ngSwitch]="_type.id">
  <app-card *ngSwitchCase=1>
    <div card-section="body">
      <h4 class="card-title">Formulario de Individuo</h4>
      <individual-form></individual-form>
    </div>
  </app-card>
  <app-card *ngSwitchCase=2>
    <div card-section="body">
      <h4 class="card-title">Formulario de Entidad</h4>
      <entity-form></entity-form>
    </div>
  </app-card>
</div>
