<div class="modal-header">
  <h4 class="modal-title text-secondary"><i class="typcn typcn-group-outline"></i> New relationship</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <ng-template #rt let-r="result" let-t="term">
            {{ r.FirstName }} {{ r.ThirdName }}
          </ng-template>
          <label for="participant">Participant</label>
          <input type="text" class="form-control" [(ngModel)]="relation.RelatedParticipant" name="" id="" aria-describedby="helpId"
            placeholder="" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control custom-select" [(ngModel)]="relation.Type" name="type" id="type">
            <option disabled value="undefined">--- Select one ---</option>
            <option *ngFor="let type of _types" [ngValue]="type">{{ type.EnglishName }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-md-12 d-flex justify-content-end">
    <button type="button" (click)="activeModal.close('Close click')" class="btn btn-outline-primary"><i class="typcn typcn-download-outline"></i> Save</button>
  </div>
</div>
