<div class="container">
  <app-loading-modal *ngIf="!_profile"></app-loading-modal>
  <div *ngIf="_profile">
    <div class="card">
      <div class="card-header">
        <p class="card-title">
          <i class="far fa-file-alt fa-fw"></i> Resumen</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <span class="text-primary">
              Última modificación
            </span>
            <h6>{{ _profile.ModifiedDate | date: 'dd/MM/yyyy hh:mm a' }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Tope Transacciones Mes
            </span>
            <h6>{{ _profile.TransactionsLimit }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Tope Ingresos/Pagos Mes
            </span>
            <h6>$ {{ _profile.MonthlyIncomeLimit | number: '3.2' }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Tope Desembolsos Mes
            </span>
            <h6>$ {{ _profile.MonthlyExpenseLimit | number: '3.2' }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Ingresos/Pagos Año
            </span>
            <h6>$ {{ _profile.IncomeYTD | number: '3.2' }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Desembolsos Año
            </span>
            <h6>$ {{ _profile.ExpenseYTD | number: '3.2' }}</h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Ingresos/Pagos Mes
            </span>
            <h6 class="font-weight-bold" [ngClass]="{'text-danger': _profile.IncomeMTD >= _profile.MonthlyIncomeLimit && _profile.MonthlyIncomeLimit > 0, 'text-success':  _profile.IncomeMTD < _profile.MonthlyIncomeLimit && _profile.MonthlyIncomeLimit > 0 }">
              $ {{ _profile.IncomeMTD | number: '3.2' }}
              <span *ngIf=" _profile.IncomeMTD > _profile.MonthlyIncomeLimit && _profile.MonthlyIncomeLimit > 0" class="pull-right">
                <i class="fas fa-exclamation-circle"></i>
              </span>
              <span *ngIf=" _profile.IncomeMTD < _profile.MonthlyIncomeLimit && _profile.MonthlyIncomeLimit > 0" class="pull-right">
                <i class="fas fa-check-circle"></i>
              </span>
            </h6>
          </div>
          <div class="col-md-3">
            <span class="text-primary">
              Desembolsos Mes
            </span>
            <h6 class="font-weight-bold" [ngClass]="{'text-danger': _profile.ExpenseMTD >= _profile.MonthlyExpenseLimit && _profile.MonthlyExpenseLimit > 0, 'text-success': _profile.ExpenseMTD
            < _profile.MonthlyExpenseLimit && _profile.MonthlyExpenseLimit> 0 }">
              $ {{ _profile.ExpenseMTD | number: '3.2' }}
              <span *ngIf=" _profile.ExpenseMTD > _profile.MonthlyExpenseLimit && _profile.MonthlyExpenseLimit > 0" class="pull-right">
                <i class="fas fa-exclamation-circle"></i>
              </span>
              <span *ngIf=" _profile.ExpenseMTD < _profile.MonthlyExpenseLimit && _profile.MonthlyExpenseLimit > 0" class="pull-right">
                <i class="fas fa-check-circle"></i>
              </span>
            </h6>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-primary pull-right" (click)="open()">
              <i class="fas fa-pencil-alt fa-fw"></i> Editar</button>
          </div>
        </div>
      </div>
    </div>
    <app-participant-products [profile]="_profile"></app-participant-products>
    <!-- <participant-accounts [profile]="_profile" (updateProfile)="getProfile()"></participant-accounts> -->
    <participant-transactions [profile]="_profile" (updateProfile)="getProfile()"></participant-transactions>
  </div>
</div>
