<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control custom-select" [(ngModel)]="_currentDiscardID" (ngModelChange)="getMatches()" name="discard"
          id="discard">
          <option selected disabled [value]="undefined">--- Seleccionar descarte ---</option>
          <option *ngFor="let discard of _discards" [value]="discard.ID">
            {{ discard.List.Name }} | {{ discard.Date | date: 'short' }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <app-custom-table *ngIf="_currentDiscardID" [options]="_table"></app-custom-table>
</div>
