.dropdown-menu {
  border-radius: 0;
  right: 0;
  left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu.show {
  overflow-y: scroll;
  max-height: 600px;
}

.dropdown-item {
  padding: 15px 1.5rem;
  border-bottom: 1px solid #f6f6f6;
  white-space: nowrap;
}

.typcn {
  font-size: 2em;
}

.navbar {
  padding: 0 30px 0 16px;
}

.dropdown-toggle::after {
  display: none;
}

.logo {
  height: 28px;
}

nav.navbar {
  min-height: 51px;
}
