<div class="container">
  <app-loading-modal *ngIf="!_documents"></app-loading-modal>
  <table class="table table-sm table-squared table-stripes">
    <thead>
      <tr>
        <th>Nro. Doc</th>
        <th>Tipo</th>
        <th>Fec. Expedición</th>
        <th>Fec. Expiración</th>
        <th>País Expedición</th>
        <th>Documento</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of _documents">
        <td>{{ doc.DocumentCode }}</td>
        <td>{{ doc.DocumentType.Name }}</td>
        <td>{{ doc.ExpeditionDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ doc.ExpirationDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ doc.Country.Name }}</td>
        <td><a [href]="_conn.fileURL + doc.FilePath" [download]="true" [target]="'_blank'">{{ doc.FilePath }}</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngFor="let document of _documents; let i = index">
    <div class="card">
      <div class="card-header">Documento {{ i + 1 }}
        <span class="pull-right">
          <span class="fa-lg text-success" placement="top" ngbTooltip="Eliminar" (click)="removeDoc(document.ID)">
            <i class="fas fa-pencil-alt   fa-fw"></i>
          </span>
          <span class="fa-lg text-danger" placement="top" ngbTooltip="Eliminar" (click)="removeDoc(document.ID)">
            <i class="far fa-trash-alt"></i>
          </span>
        </span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 align-bottom">
            <a name="download" id="download" class="btn btn-primary btn-block" [href]="_conn.fileURL + document.FilePath" [download]="true"
              role="button">Descargar
              <i class="fas fa-download"></i>
            </a>
          </div>
          <div class="col-md-4">
            <span class="text-primary">Nro. Documento</span>
            <h6>{{ document.DocumentCode }}</h6>
          </div>
          <div class="col-md-4">
            <span class="text-primary">Tipo Documento</span>
            <h6>{{ document.DocumentType.Name }}</h6>
          </div>

          <div class="col-md-4">
            <span class="text-primary">Fecha de Expedición</span>
            <h6>{{ document.ExpeditionDate | date: 'mediumDate' }}</h6>
          </div>
          <div class="col-md-4">
            <span class="text-primary">Fecha de Expiración</span>
            <h6>{{ document.ExpirationDate | date: 'mediumDate' }}</h6>
          </div>
          <div class="col-md-4">
            <span class="text-primary">País Expedición</span>
            <h6>{{ document.Country.Name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <participant-document *ngIf="_showForm" [types]="_types" [participant]="participant" (addDocument)="addDoc($event)"></participant-document>
  <div class="d-flex justify-content-end">
    <button *ngIf="!_showForm" type="button" class="btn btn-primary add-link" (click)="_toggleForm()">
      <span class="far fa-plus-square"></span> Nuevo Documento</button>
  </div>
</div>
