<button class="btn btn-outline-primary" (click)="open()">
  <span class="fa-layers fa-fw">
    <i class="fas fa-code-branch"></i>
    <span class="fas fa-certificate" data-fa-transform="shrink-9 up-4.2 right-4"></span>
  </span>
  Nueva Fase
</button>
<br>
<br>
<ngb-accordion #acc="ngbAccordion">
  <ng-container *ngFor="let phase of roadmap.Phases">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        {{ phase.Title }}
      </ng-template>
      <ng-template ngbPanelContent>
        <button class="btn btn-outline-success">
          <span class="fa-layers fa-fw">
            <i class="fas fa-code-branch"></i>
            <span class="fas fa-pencil-alt" data-fa-transform="shrink-9 up-4.2 right-4"></span>
          </span>
          Nueva Fase
        </button>
        <app-milestones [phase]="phase"></app-milestones>
      </ng-template>
    </ngb-panel>
  </ng-container>
</ngb-accordion>
