<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input name="" id="" class="btn btn-primary" (change)="onFileChange($event)" type="file" accept=".xlsx, .xls" />
      </div>
    </div>
  </div>
  <div *ngIf="data" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button type="button" class="btn btn-primary">Ejecutar Descarte</button>
      </div>
    </div>
  </div>
  <table *ngIf="data" class="table table-sm">
    <ng-container *ngFor="let row of data; let i = index">
      <thead *ngIf="i === 0">
        <tr>
          <th *ngFor="let val of row">
            {{val}}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="i!=0">
        <tr>
          <td *ngFor="let val of row">
            {{val}}
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>
