<h6 [ngClass]="{'text-muted completed': participant.matrixReady}">Completar Matrix
  <span class="float-right">
    <span *ngIf="participant.matrixReady">
      <i class="fas fa-check-circle text-success"></i>
    </span>
    <span *ngIf="!participant.matrixReady">
      <i class="far fa-circle text-muted"></i>
    </span>
  </span>
</h6>
<ng-container *ngFor="let doc of _pending">
  <h6 *ngIf="doc.Uploaded == 0">{{ doc.Name }}
    <span class="float-right">
      <i class="far fa-circle text-muted"></i>
    </span>
  </h6>
</ng-container>
<ng-container *ngFor="let doc of _pending">
  <h6 *ngIf="doc.Uploaded > 0" class="text-muted completed">{{ doc.Name }}
    <span class="float-right">
      <i class="fas fa-check-circle text-success"></i>
    </span>
  </h6>
</ng-container>
