<app-card [header]="'Nuevo Documento'" *ngIf="_partDocument && types">
  <div card-section="body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-control-label" for="">Nro. Documento</label>
          <input type="text" [(ngModel)]="_partDocument.documentCode" class="form-control" name="" id="" aria-describedby="helpId"
            placeholder="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="doc-type" class="form-control-label">Tipo Documento</label>
          <select class="form-control custom-select" [(ngModel)]="_partDocument.documentTypeId" name="" id="">
            <option disabled value="undefined">--- Seleccionar ---</option>
            <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Documento</label>
          <div class="input-group">
            <input type="file" class="form-control" (change)="setFile($event)">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Fecha Expedición</label>
          <div class="input-group">
            <input type="text" class="form-control" name="" id="" [(ngModel)]="_partDocument.formExpeditionDate" ngbDatepicker #d="ngbDatepicker"
              placeholder="YYYY-MM-DD">
            <div class="input-group-append" (click)="d.toggle()">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">Fecha Expiración</label>
          <div class="input-group">
            <input type="text" class="form-control" name="" id="" [(ngModel)]="_partDocument.formExpirationDate" ngbDatepicker #e="ngbDatepicker"
              placeholder="YYYY-MM-DD">
            <div class="input-group-append" (click)="e.toggle()">
              <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="">País Expedición</label>
          <select class="form-control custom-select" name="country" id="country" [(ngModel)]="_partDocument.countryId" required>
            <option [value]="undefined" disabled>--- Seleccionar ---</option>
            <option *ngFor="let country of _countries" [value]="country.id">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="saveDocument()">
          <i class="fas fa-download"></i> Guardar</button>
      </div>
    </div>
  </div>
</app-card>
