<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="first-name">Razón Social</label>
      <input [(ngModel)]="_entity.FirstName" type="text" name="first-name" id="first-name" class="form-control" placeholder="Razón Social de Entidad"
        aria-describedby="helpId">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="second-name">Nombre Comercial</label>
      <input type="text" [(ngModel)]="_entity.SecondName" name="second-name" id="second-name" class="form-control" placeholder="Nombre Comercial">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="code">RUC/NIT</label>
      <input type="text" name="code" id="code" [(ngModel)]="_entity.Code" class="form-control" placeholder="RUC/NIT de la Entidad">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="country">País de Constitución</label>
      <select class="form-control custom-select" name="country" id="country" [(ngModel)]="_entity.CountryID">
        <option [value]="undefined" disabled>---Seleccionar---</option>
        <option *ngFor="let country of _countries" [value]="country.ID">{{ country.Name }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="birthDate">Fecha Constitución</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="_entity.formBirthDate" [maxDate]="_maxDate" [minDate]="_minDate" placeholder="YYYY-MM-DD"
          name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append" (click)="d.toggle()">
          <span class="input-group-text">
            <i class="far fa-calendar-alt" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="representative">Representante Legal</label>
      <input type="text" class="form-control" [(ngModel)]="_entity.LegalRepresentative" name="representative" id="representative"
        aria-describedby="helpId" placeholder="Represante Legal de la Entidad">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" [(ngModel)]="_entity.Email" name="email" id="email" aria-describedby="helpId" placeholder="example@domain.com">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="website">Sitio Web</label>
      <input type="url" class="form-control" [(ngModel)]="_entity.WebSite" name="website" id="website" aria-describedby="helpId"
        placeholder="http://example.com">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone-number">Número Telefónico</label>
      <input type="tel" class="form-control" [(ngModel)]="_entity.Phone" name="phone-number" id="phone-number" aria-describedby="helpId"
        placeholder="9999-9999">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="mobile-phoner">Número Celular</label>
      <input type="tel" class="form-control" [(ngModel)]="_entity.MobilePhone" name="mobile-phone" id="mobile-phone" aria-describedby="helpId"
        placeholder="9999-9999">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="address">Dirección</label>
      <textarea [(ngModel)]="_entity.Address" class="form-control" name="address" id="" rows="3" placeholder="Locación de la Entidad"
        (blur)="setLocation()"></textarea>
    </div>
  </div>
  <div class="col-md-12">
    <agm-map *ngIf="_location" [latitude]="_location.lat" [longitude]="_location.lng" [zoom]=15>
      <agm-marker [latitude]="_location.lat" [longitude]="_location.lng"></agm-marker>
    </agm-map>
  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <a [routerLink]="['/dashboard/darticipants']" class="btn btn-outline-secondary" role="button">
      <i class="fas fa-ban" aria-hidden="true"></i> Cancelar</a>
    <button type="button" class="btn btn-primary" (click)="saveEntity()">
      <i class="fas fa-download" aria-hidden="true"></i> Guardar</button>
  </div>
</div>
