<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="first-name">Business Name</label>
      <input [(ngModel)]="_entity.FirstName" type="text" name="first-name" id="first-name" class="form-control" placeholder="Entity Business Name"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">*Required</small>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="second-name">Commercial Name</label>
      <input type="text" [(ngModel)]="_entity.SecondName" name="second-name" id="second-name" class="form-control" placeholder="Participant´s Second Name"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">*When is provided</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="birthDate">Constitution Date</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="_entity.formBirthDate" [maxDate]="_maxDate" [minDate]="_minDate" placeholder="yyyy-mm-dd"
          name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="d.toggle()">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
      </div>
      <small id="birthdateHelp" class="text-muted">*Select one</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="representative">Legal Representative</label>
      <input type="text" class="form-control" [(ngModel)]="_entity.LegalRepresentative" name="representative" id="representative"
        aria-describedby="helpId" placeholder="Legal Representative">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" [(ngModel)]="_entity.Email" name="email" id="email" aria-describedby="helpId" placeholder="example@domain.com">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="website">WebSite</label>
      <input type="url" class="form-control" [(ngModel)]="_entity.WebSite" name="website" id="website" aria-describedby="helpId"
        placeholder="http://example.com">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="phone-number">Phone Number</label>
      <input type="tel" class="form-control" [(ngModel)]="_entity.Phone" name="phone-number" id="phone-number" aria-describedby="helpId"
        placeholder="9999-9999">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="mobile-phoner">Mobile Phone Number</label>
      <input type="tel" class="form-control" [(ngModel)]="_entity.MobilePhone" name="mobile-phone" id="mobile-phone" aria-describedby="helpId"
        placeholder="9999-9999">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="address">Address</label>
      <textarea [(ngModel)]="_entity.Address" class="form-control" name="address" id="" rows="3" placeholder="Entity Address"></textarea>
    </div>
  </div>
  <div class="col-md-12 d-flex justify-content-end">
    <a [routerLink]="['/Dashboard/Participants']" class="btn btn-outline-danger" role="button"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    <button type="button" class="btn btn-primary" (click)="saveEntity()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
  </div>
</div>
