.fa-sort, .fa-sort-up, .fa-sort-down, .fa-sort-amount-down, .fa-sort-amount-up {
  margin-left: 10px;
}

.items-count {
  margin-bottom: 0;
  font-size: 16px;
}

.search-form {
  margin-bottom: 0;
}

.top-bar {
  margin-bottom: .75rem;
}
