.fa-sort, .fa-sort-up, .fa-sort-down, .fa-sort-amount-down, .fa-sort-amount-up {
  margin-left: 10px;
}

.items-count {
  margin-bottom: 0;
  font-size: 16px;
}

.search-form {
  margin-bottom: 0;
}

.top-bar {
  margin-bottom: .75rem;
}

.btn-outline-primary {
  margin-left: 10px;
}


.paginator {
  margin-bottom: 16px;
}

.btn {
  margin-left: 20px;
}


.actions-cell > .action-button {
  margin: 0 2.5px;
}

.table > thead {
  text-transform: uppercase;
}
