.fa-sort, .fa-sort-asc, .fa-sort-desc, .fa-sort-amount-desc, .fa-sort-amount-asc {
  margin-left: 10px;
}

.items-count {
  margin-bottom: 0;
  font-size: 16px;
}

.search-form {
  margin-bottom: 0;
}

.top-bar {
  margin-bottom: .75rem;
}
