<form (ngSubmit)="onSubmit()" class="card">
  <div class="card-body">
    <h4 class="card-title">
      Nuevo Grupo
    </h4>
    <div action="" class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="display">Nombre</label>
          <input [(ngModel)]="_newValue.DisplayValue" type="text" name="display" id="display" class="form-control" placeholder="Group Display Value">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="display">Nombre Inglés</label>
          <input [(ngModel)]="_newValue.EnglishDisplayValue" type="text" name="display" id="display" class="form-control" placeholder="Group English Display Value">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Agregar <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  </div>
</form>
<param-value *ngFor="let value of _table.ParamValues" [_value]="value"></param-value>
