<ng-container *ngIf="_schedule">
  <h4>{{ _schedule.Title }}</h4>
  <ngb-accordion #acc="ngbAccordion">
    <ng-container *ngFor="let milestone of _schedule.Milestones">
      <ngb-panel title="{{milestone.Title}}">
        <ng-template ngbPanelContent>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Tarea</th>
                <th>Meta</th>
                <th>Comentarios</th>
                <th>Avance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of milestone.Jobs">
                <td>{{ job.Title }}</td>
                <td>{{ job.Goal }}</td>
                <td>{{ job.Comments }}</td>
                <td>{{ job.Completion }}%</td>
              </tr>
            </tbody>
          </table>
          <button type="button" (click)="openJob(job, milestone.ID)" class="btn btn-primary pull-right">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Actividad
          </button>
          <ng-template #job let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Actividad</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="" id="title" [(ngModel)]="_job.Title" class="form-control" placeholder="" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Título tarea macro</small>
                <br>
                <div class="form-group">
                  <label for="goal">Meta</label>
                  <textarea class="form-control" [(ngModel)]="_job.Goal" name="" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="goal">Commentarios</label>
                  <textarea class="form-control" [(ngModel)]="_job.Comments" name="" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="progress">Avance</label>
                  <input type="number" class="form-control" [(ngModel)]="_job.Completion" name="progress" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Avance tarea</small>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="c('Close click')">
                <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>
</ng-container>
<button type="button" (click)="openMilestone(milestone)" class="btn btn-outline-primary">
  <i class="fa fa-plus-circle" aria-hidden="true"></i> Actividad Macro</button>
<ng-template #milestone let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Actividad Macro</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" name="" id="title" [(ngModel)]="_milestone.Title" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Título tarea macro</small>
      <br>
      <div class="form-group">
        <label for="goal">Meta</label>
        <textarea class="form-control" [(ngModel)]="_milestone.Goal" name="" id="" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">
      <i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
  </div>
</ng-template>
