<div class="card border-primary">
  <div class="card-body text-center">
    <img *ngIf="individual.participantTypeId==1" src="assets/img/user.png" alt="" class="img-fluid user-img">
    <img *ngIf="individual.participantTypeId==2" src="assets/img/office-block.png" alt="" class="img-fluid user-img">
    <h5 class="user-name">
      {{ individual.shortName }}
    </h5>
    <h5 *ngIf="individual.score" class="font-weight-bold" [ngClass]="{'text-success': individual.score < 3, 'text-warning': individual.score > 2.99 && individual.score < 6, 'text-danger': individual.score >= 6 }">
      <i class="fab fa-cloudscale"></i> {{ individual.score | number: '1.3-3' }}</h5>
  </div>
</div>
