<div class="row d-flex align-content-center justify-content-center">
  <div class="col-md-6">
    <app-card>
      <div card-section="body">
        <h4 class="card-title">Nuevo Usuario</h4>
        <form [formGroup]="_userForm" novalidate (ngSubmit)="saveUser(_user)">
          <div class="form-group">
            <label class="form-control-label" for="">Nombre</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.UserName.valid && !_userForm.controls.UserName.pristine}"
              [(ngModel)]="_user.UserName" id="name" required #name name="name" formControlName="UserName" placeholder="Nombre de usuario">
            <small *ngIf="!_userForm.controls.UserName.valid && !_userForm.controls.UserName.pristine" class="invalid-feedback animated fadeIn">Nombre requiere al menos 5 caracteres</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Email</label>
            <input type="email" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.Email.valid && !_userForm.controls.Email.pristine}"
              [(ngModel)]="_user.Email" formControlName="Email" email placeholder="Correo de electrónico de usuario">
            <small *ngIf="!_userForm.controls.Email.valid && !_userForm.controls.Email.pristine" class="invalid-feedback animated fadeIn">Dirección de correo inválida</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="rol">Rol Usuario</label>
            <select class="custom-select form-control" [(ngModel)]="_user.UserProfileID" formControlName="UserProfileID" name="rol" id="rol">
              <option [value]="undefined" [disabled]="true">---Seleccionar---</option>
              <option *ngFor="let profile of _profiles" [value]="profile.ID">{{ profile.Name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Contraseña</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.Password.valid && !_userForm.controls.Password.pristine}"
              [(ngModel)]="_user.Password" formControlName="Password" name="password" id="" placeholder="Contraseña de usuario">
            <small *ngIf="!_userForm.controls.Password.valid && !_userForm.controls.Password.pristine" class="invalid-feedback animated fadeIn">Contraseña requiere al menos 6 caracteres</small>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="">Confirmar contraseña</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': !_userForm.controls.PasswordConfirm.pristine && _userForm.controls.PasswordConfirm.value != _userForm.controls.Password.value }"
              formControlName="PasswordConfirm" name="confirm-password" id="confirm-password" placeholder="Confirmación de contraseña">
            <small *ngIf="!_userForm.controls.PasswordConfirm.pristine && _userForm.controls.PasswordConfirm.value != _userForm.controls.Password.value"
              class="invalid-feedback animated fadeIn">La confirmación de contraseña no coincide</small>
          </div>
          <div class="form-group d-flex justify-content-end ">
            <a [routerLink]="['../']" class="btn btn-outline-secondary" role="button">
              <i class="fas fa-ban" aria-hidden="true"></i> Cancelar
            </a>
            <button type="submit" [disabled]="!_userForm.valid" class="btn btn-primary">
              <i class="far fa-hdd" aria-hidden="true"></i> Guardar</button>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</div>
