<div class="modal-header">
  <h5 class="modal-title">Editar límites mensuales</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="income">Tope Ingresos Mes</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-dollar-sign fa-fw"></i>
            </span>
          </div>
          <input type="number" id="income" name="income" [(ngModel)]="currentProfile.monthlyIncomeLimit" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="income">Tope Egresos Mes</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-dollar-sign fa-fw"></i>
            </span>
          </div>
          <input type="number" id="expense" name="expense" [(ngModel)]="currentProfile.monthlyExpenseLimit" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="limit">Límite de transacciones</label>
        <input type="number" class="form-control" name="limit" id="limit" [(ngModel)]="currentProfile.transactionsLimit">
        <small id="helpId" class="form-text text-muted">Transacciones al mes</small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">
    <i class="far fa-save   fa-fw"></i> Guardar cambios
  </button>
</div>
