<h3>Risk Matrices</h3>
<div class="row">
  <div class="col-md-12">
    <app-loading-modal *ngIf="!matrices">
    </app-loading-modal>
    <div class="card" *ngIf="matrices">
      <div class="card-header">
        <div (click)="addMatrix()" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add</div>
      </div>
      <div class="card-block">
        <h4 class="card-title">All Matrices</h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Create Date</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let matrix of matrices">
              <td>{{ matrix.Code }}</td>
              <td>{{ matrix.Name }}</td>
              <td>{{ matrix.MatrixType.EnglishName }}</td>
              <td>{{ matrix.Description }}</td>
              <td>{{ matrix.CreateDate | date: 'mediumDate' }}</td>
              <td class="text-center">
                <a [routerLink]="[matrix.ID]" class="btn btn-sm btn-primary" placement="top" ngbTooltip="Details">Info <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a [routerLink]="[matrix.ID, 'Edit']" class="btn btn-sm btn-success" placement="top" ngbTooltip="Edit">Edit <i class="fa fa-edit" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" class="card" [hidden]="!_showNewMatrix">
      <div class="card-block">
        <h4 class="card-title">
          New Matrix
        </h4>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="newMatrix.Name" name="name" id="name" class="form-control" placeholder="Name" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Name</small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" [(ngModel)]="newMatrix.Code" name="code" id="code" class="form-control" placeholder="Code" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Code</small>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="type">Matrix Type</label>
              <select class="form-control custom-select" [(ngModel)]="newMatrix.MatrixTypeID" name="matrix-type" id="matrix-type" required>
                <option *ngFor="let type of matrixTypes" [value]="type.ID">{{ type.EnglishName }}</option>
              </select>
              <small class="text-muted">Select one</small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" [(ngModel)]="newMatrix.Description" name="description" id="description" class="form-control" placeholder="Description"
                aria-describedby="helpId">
              <small id="helpId" class="text-muted">Matrix Description</small>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
      </div>
    </form>
  </div>
</div>
