<h3>Risk Matrices</h3>
<div class="row">
  <div class="col-md-12">
    <app-loading-modal *ngIf="!matrices">
    </app-loading-modal>
    <div class="card" *ngIf="matrices">
      <div class="card-body">
        <h4 class="card-title">Matrices</h4>
        <table class="table table-sm table-squared">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Fecha Creación</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let matrix of matrices">
              <tr *ngIf="_currentMatrix.ID!=matrix.ID" (dblclick)="selectMatrix(matrix)">
                <td>{{ matrix.Code }}</td>
                <td>{{ matrix.Name }}</td>
                <td>{{ matrix.MatrixType.EnglishName }}</td>
                <td>{{ matrix.Description }}</td>
                <td>{{ matrix.CreateDate | date: 'mediumDate' }}</td>
                <td class="text-center">
                  <a [routerLink]="[matrix.ID]" placement="top" ngbTooltip="Detalles">
                    <i class="fa fa-bars fa-lg text-primary" aria-hidden="true"></i>
                  </a>
                  <span (click)="selectMatrix(matrix)" placement="top" ngbTooltip="Editar">
                    <i class="fa fa-edit fa-lg text-success" aria-hidden="true"></i>
                  </span>
                </td>
              </tr>
              <tr class="table-info" *ngIf="_currentMatrix.ID==matrix.ID">
                <td>
                  <input type="text" [(ngModel)]="_currentMatrix.Code" class="form-control" name="edit-code" id="new-code" placeholder="Matrix Code">
                </td>
                <td>
                  <input type="text" [(ngModel)]="_currentMatrix.Name" class="form-control" name="edit-name" id="new-name" placeholder="Name">
                </td>
                <td>
                  <select class="form-control custom-select" [(ngModel)]="_currentMatrix.MatrixTypeID" name="matrix-type" id="matrix-type"
                    required>
                    <option value="undefined" disabled>---Seleccionar---</option>
                    <option *ngFor="let type of matrixTypes" [value]="type.ID">{{ type.EnglishName }}</option>
                  </select>
                </td>
                <td>
                  <input type="text" [(ngModel)]="_currentMatrix.Description" class="form-control" name="new-description" id="new-description"
                    placeholder="Descripción">
                </td>
                <td></td>
                <td class="text-center">
                  <i class="fa fa-lock fa-lg text-success" placement="top" ngbTooltip="Guardar" aria-hidden="true" (click)="updateMatrix()"></i>
                  <i class="fa fa-times fa-lg text-danger" placement="top" ngbTooltip="Cancelar" aria-hidden="true" (click)="cancelUpdate()"></i>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td>
                <input type="text" [(ngModel)]="_newMatrix.Code" class="form-control form-control-sm" name="new-code" id="new-code" placeholder="Código de Matrix">
              </td>
              <td>
                <input type="text" [(ngModel)]="_newMatrix.Name" class="form-control form-control-sm" name="new-name" id="new-name" placeholder="Nombre">
              </td>
              <td>
                <select class="form-control custom-select" [(ngModel)]="_newMatrix.MatrixTypeID" name="matrix-type" id="matrix-type" required>
                  <option value="undefined" disabled>---Seleccionar---</option>
                  <option *ngFor="let type of matrixTypes" [value]="type.ID">{{ type.Name }}</option>
                </select>
              </td>
              <td>
                <input type="text" [(ngModel)]="_newMatrix.Description" class="form-control form-control-sm" name="new-description" id="new-description"
                  placeholder="Descripción">
              </td>
              <td></td>
              <td class="text-center">
                <i class="fa fa-plus-square fa-lg text-primary" placement="top" ngbTooltip="Añadir" aria-hidden="true" (click)="createMatrix()"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
